<div id="oauth" layout-padding layout="row" layout-align="space-around center">
  <a class="social-button twitter" ng-click="loginOauth('twitter')">
    <i class="fa fa-twitter"></i>
    <md-tooltip>Connect with Twitter</md-tooltip>
  </a>
  <a class="social-button facebook" ng-click="loginOauth('facebook')">
    <i class="fa fa-facebook"></i>
    <md-tooltip>Connect with Facebook</md-tooltip>
  </a>
  <a class="social-button google" ng-click="loginOauth('google')">
    <i class="fa fa-google"></i>
    <md-tooltip>Connect with Google+</md-tooltip>
  </a>
</div>
